$font-red: 'Red Hat Display', sans-serif;
$font-mont: 'Montserrat', sans-serif;

$cor-verde-1: #28A745;
$cor-verde-2: #AAC85A;
$cor-verde-3: #abc85a46;

$cor-red-1: #ce3232;
$cor-red-2: rgba(206,50,50,0.11);

$cor-borda-1: #333333d0;
$cor-borda-2: #CED0D4;
$cor-borda-3: #efeff1;

$cor-preto-1: #000000da;
$cor-preto-2: #2D2D2D;

$white: #ffffff;
$white-bg: #f0f2f5;

$border-r: 10px;