@media (min-width: 1200px) {

	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1440px;
		padding: 0 30px;
	}
}

.intro {
	height: 75vh;
	min-height: 590px;
	margin: 0 30px;

	@include d(s) {
		height: 500px;
		margin: 0;
		min-height: initial;
	}

	.container {
		height: inherit;
		position: relative;
		border-radius: 0 0 $border-r $border-r;
		overflow: hidden;


	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: middle;
		object-position: center;
		z-index: -1;
		filter: grayscale(10%) brightness(0.9);

	}

	&--wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: inherit;
		padding: 5rem 105px 4rem;
		color: $white;

		@include d(m) {
			padding: 2rem 1rem;
		}

		>span {
			margin-bottom: 1rem;
			text-transform: uppercase;
			font-size: 0.875rem;
		}

		h1 {
			line-height: 140%;
			font-family: $font-red;
			font-weight: 700;
			font-size: 3rem;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

			@include d(m) {
				font-size: 1.75rem;
			}
		}
	}

	.people {
		margin-top: 1rem;
		@include people;
		width: 100%;
		border-bottom: 1px solid $white-2;
		padding-bottom: 24px;

		span,
		p {
			color: $white !important;
			font-size: 0.875rem;
		}
	}
}


///=========================
///=========================
///=========================
///=========================
///=========================
//ONE
///=========================
///=========================
///=========================
///=========================

.one {
	@media (min-width: 1200px) {

		.container,
		.container-sm,
		.container-md,
		.container-lg,
		.container-xl {
			max-width: 1220px;
			padding: 0 30px;
		}
	}

	&--wrapper {
		display: grid;
		grid-template-columns: 1fr 360px;
		gap: 32px;
		margin-top: 7.5rem;

		@include d(m) {
			grid-template-columns: 1fr;
			margin-top: 5rem;

		}
	}

	.content {
		display: grid;
		gap: 0.5rem;

		h2 {
			font-size: 1.5rem;
			font-family: $font-red;
			color: $cor-preto-1;
			font-weight: 500;


		}

		h3 {
			font-weight: 700;
			font-size: 1.5rem;
			font-family: $font-red;
			color: $cor-preto-1;
			margin: 1.5rem 0 0.5rem;
			letter-spacing: .2px;
		}

		h4 {
			font-weight: 700;
			font-size: 1.5rem;
			font-family: $font-red;
			color: $cor-preto-1;
			margin: 1.5rem 0 0.5rem;
			letter-spacing: .2px;
		}

		a {
			color: $cor-verde-1;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}

		img {
			margin: 20px auto 0px;
			border-radius: $border-r;
			height: auto;

			~blockquote {
				margin: 0;
				margin-top: 0px;
				font-size: .75rem;
				padding: 0;
				opacity: .6;
			}
		}

		p {
			color: $cor-preto-1;
			opacity: .8;
			font-size: 1rem;
			line-height: 145%;
		}

		button {
			font-size: 1rem;
			margin: 1.5rem 0;
			width: max-content;
			padding-left: 40px;
			padding-right: 40px;
		}
		
	}

	nav {
		display: grid;
		gap: 32px;
		grid-auto-rows: max-content;

		@include d(m) {
			display: none;
		}

		.nav--item {
			background: $cor-cinza-1;

			>p {
				font-weight: 600;
				letter-spacing: 0.3px;
				font-family: $font-red;
				font-size: 1.25rem;
				text-align: center;
				margin-bottom: 15px;
				display: inline-flex;
				width: 100%;
				margin-bottom: 1.25rem;
				padding-bottom: 1.25rem;
				justify-content: center;
				border-bottom: 1px solid $cor-borda-2;
			}
		}




		.tags {
			@include tags;
		}

		.search {
			@include search--nav;
			padding-bottom: 2rem
		}



		.popular {
			@include search--nav;
			@include popular;
		}
	}


}

///=========================
///=========================
///=========================
///=========================
///=========================
//TWO 
///=========================
///=========================
///=========================
///=========================

.two {
	padding: 60px 0 120px;
	background: $white-bg;
	margin-top: 5rem;

	.theme--h2 {
		margin-bottom: 2.625rem;
	}

	&--wrapper {
		display: flex;
		align-items: flex-start;
	}

	@media (min-width: 1200px) {

		.container,
		.container-sm,
		.container-md,
		.container-lg,
		.container-xl {
			max-width: 1220px;
			padding: 0 30px;
		}
	}

	&--item {
		width: 17.8125rem;

		.theme--span {
			text-transform: uppercase;
			font-size: 0.875rem;
		}

		&:hover {
			.img--container img {
				transform: scale(1.1);
			}

			h3 p {
				background-size: 100% 2px !important;
			}

		}

		.img--container {

			@include img--container(17.8125rem, 11.875rem);
			border-radius: $border-r;
			margin-bottom: .8rem;
			text-transform: uppercase;

			img {
				@include img_cover_absolute;
				transition: .4s ease-out;
			}
		}

		h3 {
			font-size: 1rem;
			font-family: $font-red;
			font-weight: 700;
			letter-spacing: 0.3px;
			margin-top: .875rem;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

			p {
				@include hoverLine;
			}

		}
	}
}